@import url('https://fonts.cdnfonts.com/css/black-chancery-2');/*fonte para titulo*/
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BR:wght@100..400&display=swap');/*fonte para paragrafo*/

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    text-align: center;
    background-color: rgb(255, 255, 255);
}

header{
    color: rgb(0, 0, 0);
    padding: 20px;/*aumentar o espaçamento interno*/
    background-color: rgb(255, 255, 255);
    font-family: 'Playwrite BR';
}

.nav a{
    text-decoration: none;
    color: white;
    display: inline-block;/*deixa os itens lado a lado*/
    margin: 15px;
    padding: 10px 20px;
    background-color: lightslategray;
    border-radius: 10px;
    font-family: 'BlackChancery';
}

nav a:hover {
    background-color: rgb(0, 17, 255);
    color: white;
    font-size: 17px;
}

nav{
    background-color: rgb(119, 153, 125);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items: flex-start;
}

.item{
    border: solid 1px blue;
    background-color: burlywood;
    margin: px;
    padding: 10px;
}

